<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.weddingplanner">

    <application
        android:name=".application.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar2" />

        <activity android:name=".activities.NewVendorCategoryActivity" />

        <service
            android:name=".service.MyUploadService"
            android:exported="false" />

        <activity
            android:name=".activities.AddVendorActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activities.VendorsActivity" />
        <activity
            android:name=".activities.VendorDetailsAvtivity"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity android:name=".activities.AdminActivity">

        </activity>

        <activity
            android:name=".activities.MainActivityUser"
            android:theme="@style/AppTheme.NoActionBar2"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".activities.TodoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".todomodule.AddToDoActivity"
            android:parentActivityName=".activities.TodoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddNewGiftItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".todomodule.ReminderActivity"
            android:label="Reminders" />

        <service android:name=".todomodule.TodoNotificationService" />
        <service android:name=".todomodule.DeleteNotificationService" />

        <activity android:name=".activities.AddBudgetItemActivity"></activity>

        <service android:name=".pushnotificationstuff.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".pushnotificationstuff.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>