<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.weddingplanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".application.ApplicationClass">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.NewPostActivity" />
        <activity android:name=".activities.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PostDetailActivity" />
        <activity android:name=".activities.NewVendorCategoryActivity" />


        <service
            android:name=".service.MyUploadService"
            android:exported="false" />

        <activity
            android:name=".activities.AddVendorActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activities.VendorsActivity" />
        <activity
            android:name=".activities.VendorDetailsAvtivity"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity android:name=".activities.AdminActivity" />
        <activity
            android:name=".activities.MainActivityUser"
            android:theme="@style/AppTheme.NoActionBar2"></activity>

        <activity
            android:name=".todomodule.TodoActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".todomodule.AddToDoActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".todomodule.TodoActivity" />


        <activity
            android:name=".todomodule.ReminderActivity"
            android:label="@string/app_name" />

        <service android:name=".todomodule.TodoNotificationService" />
        <service android:name=".todomodule.DeleteNotificationService" />


    </application>

</manifest>